{% extends 'base.html.twig' %}

{% block title %}The flow | Login{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 bo-login-sideL">
            
            <!-- Title -->
            <div class="bo-login-sideL-title">
                <a href="/">
                    {% for screen in splash %}
                        <h1>{{ screen.Title}}</h1>
                    {% endfor %}
                    <p>By Johan SUTTER</p>
                </a>
            </div>
            
            <!-- Hero -->
            <div class="bo-login-sideL-hero">
                <p>Super mega very secret administration part of the site.</p>
            </div>

            <p>But before... please login !</p>
            <p class="text-sm">And yes I realise this wasn't too hard to find.</p>

            <!-- Illustration & credit -->
            <img src="{{ asset('img/myPeeps2.png') }}" alt="Image Cadenas géant avec deux personnes de chaque côté">
            <p class="bo-login-artDisclaimer"> Art created on <a href="https://blush.design/fr" target="_blank">Blush</a></p>

        </div>

        <!-- Forms -->
        <div class="col bo-login-sideR">
            <div class="col-3 bo-login-conatiner">
                <h2>Sign In</h2>
                <form action="{{ path('Login') }}" method="post">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" required name="_username">
                        <small class="form-text text-muted">It's time to show them who's the boss.</small>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" required name="_password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-unlock-alt"></i>Login</button>
                    </div>
                </form>
            </div>
            
        </div>

    </div>
</div> 

{% endblock %}
