@font-face {
    font-family: 'RegularBrush';
    src: url('../fonts/RegularBrush-Rpnro.otf');
}


/* Back office */


/* Login Sidebar */

.bo-login-sideL,
.bo-menu {
    font-family: 'Share Tech Mono', monospace;
    background-color: #B0C4DE;
    height: 100vh;
    padding: 30px;
}

.bo-menu {
    position: fixed;
    z-index: 9999;
}

.bo-login-sideL-title,
.bo-menu-title {
    cursor: pointer;
    margin-bottom: 100px;
}

.bo-login-sideL-title a,
.bo-menu-title a,
.bo-menu-summary a {
    color: black;
}

.bo-login-sideL-title a:hover,
.bo-menu-title a:hover,
.bo-menu-summary a:hover {
    color: black;
    text-decoration: none;
}

.bo-segView-title h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.bo-menu-title h1,
.bo-login-sideL h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'RegularBrush';
}

.bo-login-sideL p,
.bo-menu-title p,
.bo-segView-title p {
    margin: 0;
}

.bo-login-sideL-hero {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.bo-login-sideL img,
.bo-menu img {
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 60px;
    right: 40px;
}

.bo-menu img {
    width: 40%;
}

.bo-login-artDisclaimer {
    position: absolute;
    bottom: 20px;
    right: 40px;
}


/* Login container */

.bo-login-sideR {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bo-login-conatiner {
    padding: 30px 20px;
    border-radius: 20px;
}

.bo-login-conatiner h2 {
    font-size: 3rem;
    margin-bottom: 40px;
    text-align: center;
}


/* Back office side menu */

.bo-menu-summary a {
    font-family: 'DM Sans', sans-serif;
}

.bo-menu-summary a:hover {
    font-weight: bold;
}


/* Back office content */

.bo-content {
    font-family: 'Share Tech Mono', monospace;
    margin: 30px;
}

.bo-segView-title {
    margin-bottom: 15px;
}

.bo-segView-topBtn {
    display: flex;
}

.bo-segView-topBtn button {
    margin: 0 5px;
}

.bo-segView-row {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #f3f3f3;
}

.bo-segView-row-text {
    display: flex;
    align-items: center;
}

.bo-segView-row h3,
.bo-segView-row p {
    margin: 0;
}

.bo-segView-row-title label {
    margin-bottom: 5px;
}

.bo-segView-btnGroup {
    display: flex;
}

.bo-segView-btnGroup button {
    margin: 0 5px;
}

.bo-segView-title h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.bo-mediaOption {
    margin-bottom: 16px;
}

.bo-mediaPreview {
    display: flex;
    justify-content: center;
}

.bo-media-grid {
    text-align: center;
    padding: 0 30px;
    display: flex;
    width: auto;
    flex-direction: column;
}

.bo-mediaPreview img {
    padding: 10px;
    height: 100px;
    width: auto;
}


/* Spash page */

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #FFF;
}

.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.splash-text {
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.splash-text-container {
    text-align: center;
    width: 30%;
}

h1 {
    font-family: 'RegularBrush';
    font-size: 8rem;
}

.icon-group {
    font-size: 1.5rem;
}

.fv-icon {
    padding: 10px 0;
    transform: scale(1);
    transition-property: transform;
    transition: 0.15s all ease;
}

.fv-icon:hover {
    padding: 10px;
    transform: scale(2);
}

.scroll-wrapper {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-wrapper p {
    cursor: pointer;
}

.scroll-line {
    height: 100%;
    height: 50px;
    width: 1px;
    background-color: white;
}

.fv-scrollUp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: lightgray;
    color: black;
    z-index: 9999;
    cursor: pointer;
}

.fv-scrollUp i {
    margin: 0;
    font-size: 1.5rem;
}


/* Dividers */

.divider {
    height: 60vh;
    position: relative;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
    background-color: #141414;
    z-index: 1 !important;
}

.divider h4 {
    position: absolute;
    font-family: 'RegularBrush';
    top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.divider p {
    text-align: center;
    font-size: 2rem;
    margin-right: 50px;
}

.divider h3 {
    font-size: 15rem;
    font-weight: bold;
}


/* First part */

.fv-fpart {
    position: relative;
    justify-content: center;
    align-items: unset;
    flex-direction: column;
    color: white;
    padding: 70px 0;
}

.fv-fpart h2 {
    position: absolute;
    font-family: 'RegularBrush';
    font-weight: bold;
    top: 70px;
    left: 50px;
    font-size: 6rem;
}

.fv-fpart-message {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 50%;
    height: 70vh;
    overflow: hidden;
}


/* Second part */

.scroll-wrapper-top {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 50px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll-line-top {
    height: 100%;
    width: 1px;
    background-color: black;
}

.fv-spart {
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: auto;
    color: black;
    padding: 70px 0;
}

.fv-spart-message {
    display: flex;
    justify-content: center;
}

.column-wrap {
    width: 50%;
    padding: 50px;
    column-count: 2;
}

.fv-spart-mVideo iframe {
    border: 20px solid lightgrey;
    border-radius: 10px;
    width: 760px;
    height: 549px;
}

.fv-spart-mSlider {
    width: 900px;
    height: auto;
}

.fv-spart-mSlider,
.fv-spart-mVideo {
    margin: 20px;
}

.fv-spacer {
    height: 50px;
}


/* Footer */

.footer {
    height: 20vh;
    position: relative;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
    background-color: #141414;
}

.footer h3 {
    font-family: 'RegularBrush';
    font-weight: bold;
    font-size: 3rem;
    padding: 0 30px;
}


/* Errors */

.error-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.error-title h1 {
    font-size: 5rem;
    font-weight: bold;
}

.error-title h2 {
    font-size: 20rem;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
}


/* Full screen Background Vid */

* {
    box-sizing: border-box;
}

.video-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#vidtop-content {
    top: 0;
    color: #fff;
}

.vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
}

.vid-info a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    transition: .6s background;
    border-bottom: none;
    margin: 1rem auto;
    text-align: center;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

@media all and (max-width: 600px) {
    .vid-info {
        width: 50%;
        padding: .5rem;
    }
    .vid-info h1 {
        margin-bottom: .2rem;
    }
}

@media all and (max-width: 500px) {
    .vid-info .acronym {
        display: none;
    }
}


/* Titles animation */

.animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}


/* Common */

i {
    margin-right: 10px;
}

.text-sm {
    font-size: 0.7rem;
}

.dispNone {
    display: none;
}

header,
.bo-form-firstPart {
    margin-bottom: 40px;
}

.hiddenCol {
    z-index: 0;
}