{% extends 'base.html.twig' %}

{% block title %}The flow | JS{% endblock %}

{% block body %}

<!--Start something beautiful here-->

{# <a href="login">Come in !</a> #}

<!--Splash page-->

<!-- The video -->
<section class="wrapper">
    <div class="video-wrap">
        <video src="{{ asset('img/clouds.mp4') }}" playsinline autoplay muted loop></video>
    </div>
    <div class="overlay"></div>
    <div class="splash-text">
        <div class="splash-text-container">
            <h1>The Flow</h1>
            <h3>Welcome to my portfolio. <br> Scroll to discover a bit more about me.</h3>
            <div class="icon-group">
                <i class="fab fa-html5"></i>
                <i class="fab fa-css3-alt"></i>
                <i class="fab fa-php"></i>
                <i class="fab fa-js-square"></i>
                <i class="fab fa-bootstrap"></i>
                <i class="fab fa-symfony"></i>
                <i class="fab fa-font-awesome"></i>
            </div>
        </div>
    </div>
    <div class="scroll-wrapper">
        <p>Scroll</p>
        <div class="scroll-line"></div>
    </div> 
</section>

testest

{% endblock %}
