{% extends 'baseBO.html.twig' %}

{% block title %}login BackController!{% endblock %}

{% block body %}

<div class="bo-segView-title">
    <h2>THE SEGMENT CREATION AREA</h2>
    <p>Make something new, make something blue.</p>
    <p class="text-sm">Though it doesn't have to be blue, really !</p>
</div>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<form action="{{ path('segmentView') }}" method="GET">
    <button type="submit" class="btn btn-secondary"><i class="fas fa-caret-square-left"></i>Go back</button>
</form>

{% endblock %}