{% extends 'baseBO.html.twig' %}

{% block title %}The flow | Splash page{% endblock %}

{% block body %}

<header>
  <!-- Title -->
  <div class="bo-segView-title">
      <h2>THE SPLASH PAGE</h2>
      <p>This is the place where you can set the first thing visitor will see.</p>
      <p class="text-sm">So make it nice and shiny !!!</p>
  </div>

  <!-- Alerts -->
  <div class="dispNone">
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>

    <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>

    <div class="alert alert-success" role="alert">
      A simple success alert—check it out!
    </div>
  </div>
</header>

<section>
  <form class="bo-form-firstPart">
    <div class="form-group">
      <label for="exampleInputEmail1">Website Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">This will also be displayed in the navigator's tab.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Message</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Link to the video</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
      <small id="emailHelp" class="form-text text-muted">Host the video on Youtube and past the link here.</small>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>
</section>

{% endblock %}
